<h3>Homepage</h3>



<div class="row">
<div class="col-sm-12">
<div class="card text-center text-secondary bg-dark" style="width: 18rem; height: 25rem">
  <div class="card-header text-white  bg-dark">
    Express Mysql Crud App
  </div>
  <div class="card-body ">
    <p class="card-text"><kbd>Richardson Daniel</kbd></p>
    <p class="card-text"><kbd>coderichardson@gmail.com</kbd></p>
    <p class="card-text">Node, Express, Passport User Auth, Mysql,Sequelize, Bcrypt Password Encryption, Access Control</p>
    <a href="#" class="btn btn-dark">Github Code</a>
  </div>
  <div class="card-footer text-muted">
    Footer
  </div>
</div>
</div>
</div>
